.content {
  font-size: 16px;
  padding: 10px;
}
.author {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 200px;
  flex-shrink: 0;
}
.wrapper {
  display: flex;
  gap: 20px;
  align-items: center;
  padding-top: 20px;
}
.item {
  border: 1px solid white;
  border-radius: 8px;
  margin-top: 10px;
}
